h1{
    text-align: center;
    background-color: transparent;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
header{
    background-image: url('assets/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    padding: 20px;
    color: grey;
    font-family:'Papyrus',cursive;

}

.search_bar {
    width: 16%;
    position: relative;
    padding: 14px 10px;
    margin: 1% 42%;
    font-size: 35px;
    text-align: center;
    font-family:"Jim Nightshade";
    background: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    border-width: 0px 0px 4px 0px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    outline:none;
    transition: 0.3s ease;
}

.search_bar:hover {
    width: 20%;
    margin: 1% 40%;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.3);
}
.search_bar:focus {
    width: 20%;
    margin: 1% 40%;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.3);
}
.plant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    
}

.plant-card {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    border: 1px solid #37b214;
    border-radius: 10px;
    padding: 5px;
    margin: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.plant-card:hover {
    transform: scale(1.02);
}

.plant-card img {
    width: 150px;
    height: 150px;
    border-radius: 1px;
}
.navbar{
    display: flex;
    justify-content: center;
    border-radius: 60px;
    padding: 10px;
    margin: 0px;
    
}
.navbar ul{
    background-color:#aeba5f;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    text-align: center;
    display: flex;
    border-radius: 30px;
}
.navbar a{
    color: #3A2718;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    transition: background-color 0.5s ease;
}
.navbar a:hover{
    background-color:#472e12;
    color: #FFEECC;
    
}
.navbar li{
    float: left;
}
body{
    background-image: url("assets/home bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
       justify-content: center;
    align-items: center;

}
.centre-text{
    position: absolute;
    top: 70%;
    left: 50%;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    transform: translate(-50%,-50%);
}
.centre-text:hover{
    color: #aeba5f;
    transition: background_color 1s ease;
}
